/* # General */
/* ## Font */
/* Weights to be used: 400, 700 */
@font-face {
    font-family: "Space Mono";
    src: url("../Fonts/Space_Mono/SpaceMono-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "Space Mono";
    src: url("../Fonts/Space_Mono/SpaceMono-Bold.ttf") format("truetype");
    font-weight: 700;
}
/* Other */
* {
    font-family: "Space Mono";
    user-select: none;
}
html {
    font-size: 24px;
}
body {
    background-color: var(--light-grayish-cyan);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* # Constants */
/* ## Colors */
:root {
    /* ### Primary */
    --strong-cyan: #26c0ab;

    /* ### Neutral */
    --very-dark-cyan: #00494d;
    --darker-grayish-cyan: #5e7a7d;
    --dark-grayish-cyan: #7f9c9f;
    --light-grayish-cyan: #c5e4e7;
    --lighter-grayish-cyan: #f4fafa;
    /* white color */

    /* ### Error */
    --orange: #c76f65;
}

/* # Layout and Design */
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 87vh;
}

@media only screen and (min-width: 375px) {
    #logo {
        display: block;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 42px;
    }

    .flexbox-column {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #main-container {
        background-color: white;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
    }

    .custom-input {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        width: 85%;
        margin: 30px 0 30px 0;
    }
    .custom-input input:hover {
        cursor: pointer;
    }
    .custom-input input:focus {
        outline-color: var(--strong-cyan);
    }
    .custom-input label {
        color: var(--darker-grayish-cyan);
        font-size: 0.7rem;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .custom-input input {
        border: none;
        background-color: var(--lighter-grayish-cyan);
        width: 100%;
        text-align: end;
        height: 50px;
        padding: 0 20px;
        border-radius: 3px;
        font-size: 1rem;
        color: var(--very-dark-cyan);
        font-weight: bold;
        user-select: text;
    }
    .custom-input input::placeholder {
        color: #5e7a7d80;
    }
    .custom-input img {
        position: absolute;
        top: 42px;
        left: 20px;
    }

    #tip-selector {
        width: 85%;
    }
    #tip-selector p {
        color: var(--darker-grayish-cyan);
        font-size: 0.7rem;
        font-weight: bold;
        margin-bottom: 20px;
    }
    #tip-selector .grid {
        display: grid;
        grid-template: repeat(3, 50px) / repeat(2, 150px);
        justify-content: center;
        gap: 17px;
    }
    #tip-selector .tip-options {
        border: none;
        background-color: var(--very-dark-cyan);
        color: white;
        font-size: 1rem;
        font-weight: bold;
        border-radius: 5px;
    }

    #tip-selector input {
        border: none;
        background-color: var(--lighter-grayish-cyan);
        color: var(--very-dark-cyan);
        font-size: 1rem;
        font-weight: bold;
        text-align: end;
        border-radius: 5px;
        padding-right: 20px;
    }
    #tip-selector input:hover {
        cursor: pointer;
    }
    #tip-selector input:focus {
        outline-color: var(--strong-cyan);
    }

    #people-num-error-mes {
        visibility: hidden;
        position: absolute;
        color: var(--orange);
        font-size: 0.7rem;
        font-weight: bold;
        right: 0;
    }

    .results-container {
        justify-content: end;
        background-color: var(--very-dark-cyan);
        border-radius: 15px;
        width: 90%;
        height: 250px;
        margin-bottom: 10px;
    }
    .results-container div {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 86%;
        height: 50px;
        margin-bottom: 10px;
    }
    .results-container p {
        color: white;
        font-size: 0.7rem;
        padding-top: 7px;
    }
    .results-container small {
        color: var(--dark-grayish-cyan);
        font-size: 0.55rem;
        padding-top: 5px;
    }
    #tip-amount, #total {
        color: var(--strong-cyan);
        font-size: 1.45rem;
        font-weight: bold;
        text-align: end;
        padding-top: 5px;
    }
    .results-container #reset-button {
        border: transparent;
        border-radius: 5px;
        background-color: #6a918c;
        color: var(--very-dark-cyan);
        width: 86%;
        height: 50px;
        font-size: 1rem;
        font-weight: bold;
        margin-top: 15px;
        margin-bottom: 25px;
    }
}

@media only screen and (min-width: 992px) {
    #logo {
        display: block;
        margin: auto;
        margin-top: 0;
        margin-bottom: 75px;
    }

    .flexbox-column {
        flex-wrap: wrap;
    }

    #main-container {
        justify-content: center;
        border-radius: 15px;
        width: 900px;
        height: 470px;
        box-shadow: 0 20px 40px #00000020, 0 -5px 40px #00000015;
        padding-left: 18px;
        padding-right: 9px;
    }

    .custom-input {
        width: 45%;
        margin: 30px 0 38px 0;
    }
    .custom-input label {
        font-size: 0.7rem;
        margin-bottom: 10px;
    }
    .custom-input input {
        width: 100%;
        height: 50px;
        padding: 0 20px;
        font-size: 1rem;
    }

    #tip-selector {
        width: 45%;
        margin-bottom: 8px;
    }
    #tip-selector p {
        font-size: 0.7rem;
        margin-bottom: 20px;
    }
    #tip-selector .grid {
        display: grid;
        grid-template: repeat(2, 50px) / repeat(3, 123px);
        justify-content: center;
        gap: 15px;
    }
    #tip-selector button {
        font-size: 1rem;
        border-radius: 5px;
    }
    #tip-selector input {
        font-size: 1rem;
        border-radius: 5px;
        padding-right: 8px;
    }
    #tip-selector input::placeholder {
        text-align: center;
        padding-right: 0;
    }

    .results-container {
        width: 47%;
        height: 88%;
        margin-bottom: 0;
    }
    .results-container div {
        width: 86%;
        height: 50px;
        margin-bottom: 30px;
    }
    .results-container p {
        font-size: 0.65rem;
        padding-top: 7px;
    }
    .results-container small {
        font-size: 0.5rem;
        padding-top: 5px;
    }
    #tip-amount, #total {
        font-size: 1.6rem;
        padding-top: 4px;
    }
    .results-container #reset-button {
        width: 86%;
        height: 50px;
        font-size: 1rem;
        margin-top: 23%;
        margin-bottom: 35px;
    }
}